[submodule "staking-app/lib/forge-std"]
	path = staking-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "staking-app/lib/openzeppelin-contracts"]
	path = staking-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
